<IfModule mod_rewrite.c>
  RewriteEngine On
  # Don't rewrite files or directories that actually exist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  # For everything else, serve index.html
  RewriteRule ^ index.html [L]
</IfModule>