name: Noir Checks

on: [push]

jobs:
  noir-checks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Noir
      uses: noir-lang/noirup@v0.1.2 
      with:
        toolchain: '1.0.0-beta.6'

    - name: Show Noir version
      run: nargo --version

    - name: Check Noir Formatting
      run: |
        cd circuits
        nargo fmt --check

    - name: Run Noir Tests
      run: |
        cd circuits
        nargo test # nargo test usually outputs detailed failure info by default